*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia,Times,Times New Roman,serif;
    color: black;
}
a{
    text-decoration: none;
}
a.goto-content{
    display: inline-block;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: .875rem;
    color: #48602f;
    margin-top: 1rem;
    padding: 0.1rem;
    border-bottom: 2px solid #48602f;
}
.span-block{
    display: block;
}
.span-content{
    font-size: 2rem;
}
/* CSS class header-section */
.home-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
}
.main-logo{
    width: 17px;
    height: 37px;
    line-height: 37px;
}
.home-header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-header ul li{
    list-style: none;
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    padding: 0px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
}
.home-header ul li:hover{
    background-color: #48602f;
    cursor: pointer;
}
.home-header ul li a:hover{
    color: #f2f3f4;
}
.home-content{
    text-align: center;
}
.content-image{
    width: 100%;
}
/* CSS class body-section */
.first-content{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-top: 3.75rem;
    height: 200px;
}
.box{
    display: flex;
    flex-grow: 1;
    gap: 10px;
    max-width: 23%;
    margin: 10px;
}
.box:not(:last-child){
    padding-right: 1.25rem;
    border-right: 1px solid #00000026;
}
.box img{
    max-width: 9.375rem;
    margin-right: 1.25rem;
}
/* CSS class second-content */
.second-content{
    background-color: #f2f3f4;
    padding: 2.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3.75rem;
    gap: 1.25rem;
}
.box-text-1{
    font-size: 1.25rem;
    max-width: 20%;
    padding-right: 1rem;
    border-right: 1px solid #00000026;
}
.box-text-2{
    max-width: 35%;
}